<!-- Page Content -->
<div id="page-content-wrapper" class="section-add-div">

  <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #FAFAFA;">
    <button class="btn btn-default menu-toggle">
      <label class="main-title" id="current_page_tag">Create New Test Plan</label>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active" style="display: inline-block;">
          <span class="btn-wrapper-span"><a  id="spinnerbutton" class="aui-button" href="/project/testPlanView?projectId={{projectId}}&projectKey={{projectKey}}&jwt={{token}}&user={{userAccountId}}&selectedFolderId={{selectedFolderId}}&page=list" style="margin-right: 7.5px;">
            Cancel and Go Back
          </a></span>

          {{#ifCond viewPage "add"}}

          <button type="button" id="saveDraftTestBtn" onclick="submitFormDataTestPlan('draft')" class="aui-button aui-button-primary"> Save as Draft </button>

          {{/ifCond}}
          
          <button type="button" id="saveTestBtn" onclick="submitFormDataTestPlan('save')" class="aui-button aui-button-primary"> Save </button>

        </li>
      </ul>
    </div>
  </nav>

  <!---sub-sidebar-section--->
  <div id="sub-sidebar-div">
    <div class="aui-page-panel">
      <aside class="aui-page-panel-sidebar sub-sidebar">
        <ul>
          <li id="testplan-basic-details" class="sub-div-li active" onclick="changeAddSubPages('basic-details')">
            <a href="#">Basic Details</a>
          </li>

          <li id="testplan-traceability" class="sub-div-li" onclick="changeAddSubPages('traceability')">
            <a href="#">Traceability</a>
          </li>

          <li id="testplan-attachments" class="sub-div-li" onclick="changeAddSubPages('attachments')">
            <a href="#">Attachments</a>
          </li>

          <li id="testplan-history" class="sub-div-li" onclick="changeAddSubPages('history')">
            <a href="#">History</a>
          </li>

        </ul>
      </aside>


      <section class="aui-page-panel-content content-section">
        

        <div id="testplan-basic-details-form" class="sub-div">
          {{> testplan/screens/add/basic_details }}
        </div>
        

        <div id="testplan-traceability-form" class="sub-div" style="display: none;">
          {{> testplan/screens/add/traceability }}
        </div>
        

        <div id="testplan-attachments-form" class="sub-div" style="display: none;">
          {{> testplan/screens/add/attachments }}
        </div>
        

        <div id="testplan-history-form" class="sub-div" style="display: none;">

          {{#ifCond viewPage "add"}}

          <div class="aui-message aui-message-Info">
              <p class="title">
                  <strong>No Change history</strong>
              </p>
          </div>

          {{/ifCond}}

          {{#ifCond viewPage "edit" }}

          {{> testplan/screens/add/history }}

          {{/ifCond}}

        </div>


      </section>


    </div>
  </div>
</div>





<script>
  
  function changeAddSubPages(section) 
  {
    $(".sub-div-li").removeClass("active");
    $(".sub-div").css("display", "none");

    $("#testplan-"+section).addClass("active");
    $("#testplan-"+section+"-form").css("display", "block");
  }

</script>